name: Publish docker images

on: 
  push:
    tags: [ "v*" ]

env:
  IMAGE_NAME: ${{ secrets.REGISTRY }}/${{ github.action_repository }}/domus-api

jobs:
  publish:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/dotnet-setup@v4
        with:
          dotnet-version: 7.0.x

      - name: Restore dependencies 
        run: dotnet restore

      - name: Build projects
        run: dotnet build -c Release

      - name: Get version
        id: version
        uses: battila7/get-version-action@v2

      - name: Build docker images
        run: docker build -f Domus.Api/Dockerfile -t ${{ IMAGE_NAME }}:${{ steps.version.outputs.version-without-v }} .

      - name: Publish images
        run: docker push ${{ IMAGE_NAME }}:${{ steps.version.outputs.version-without-v }}
